@model List<Laboratory>
@{
    ViewData["Title"] = "Index";
}
<style>
tr{
    border:solid 1px black;
    text-align:center;
    background-color:dodgerblue
}
th{
    font-family: 'Redressed', cursive;
    font-size:22px;
}
</style>
<h1>Laboratoreis</h1>


<div style="display:flex;flex-wrap:wrap;justify-content:space-between">
        @foreach (var item in Model)
    {
   <div class="card"  style="width: 18rem;">
   <img class="card-img-top" style="height:200px" src='~/images/@item.ImgUrl' alt="Card image cap" />
   <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
   </div> 
   </div>  
    }
</div>


