@model List<Laboratory>
@{
    ViewData["Title"] = "Index";
}
<style>
tr{
    border:solid 1px black;
    text-align:center;
    background-color:dodgerblue
}
th{
    font-family: 'Redressed', cursive;
    font-size:22px;
}
</style>
<h1>Laboratoreis</h1>


<div style="display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:30px;">
        @foreach (var item in Model)
    {

   <div class="card"  style="width: 18rem;margin-bottom:30px;text-align:center">
   <img class="card-img-top" style="height:200px" src='~/images/@item.ImgUrl' alt="Card image cap" />
   <div class="card-body" style=" direction:rtl;">
    <i class="fa-brands fa-adn"></i>
    <h5 class="card-title" style="display:inline-block;margin-right:10px">@item.Name</h5>
    <hr>
    <i class="fa-solid fa-location-dot" style=" margin-bottom:5px;font-size:25px"></i>
    <br>
    <p class="card-text" style="display:inline-block; margin-right:10px;">@item.Address</p>
        <br>
    <i class="fa-solid fa-phone-flip" style=" margin-bottom:5px;font-size:25px"></i>
    <br>
    <label  style="margin:5px">@item.Phone</label>
    <br>
    <i class="fa-solid fa-eye" style=" margin-bottom:5px;font-size:25px"></i>
    <br>
    <label><a href="@item.Description"> See More </a></label>
   </div> 
   </div>  
    }
</div>


