@model List<Laboratory>
@{
    ViewData["Title"] = "Index";
}
<style>
tr{
    border:solid 1px black;
    text-align:center;
    background-color:dodgerblue
}
th{
    font-family: 'Redressed', cursive;
    font-size:22px;
}
</style>
<h1>Laboratoreis</h1>


<div style="display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:30px;">
        @foreach (var item in Model)
    {

   <div class="card"  style="width: 18rem;margin-bottom:30px;">
   <img class="card-img-top" style="height:200px" src='~/images/@item.ImgUrl' alt="Card image cap" />
   <div class="card-body">
    <i class="fa-brands fa-adn"></i>
    <h5 class="card-title">@item.Name</h5>
    <p class="card-text">@item.Description</p>
    <a href="#" class="btn btn-primary">@item.Phone</a>
   </div> 
   </div>  
    }
</div>


