@{
    ViewData["Title"] = "New Examination";
}

    <body>

<div class="offcanvas offcanvas-start"  id="demo">
  <div class="offcanvas-header" id="header-padding">
    <h1 class="offcanvas-title header-ex" >
    Please enter the analysis percentage
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <hr />
  <div style="border:2px solid black;border-radius:10px;padding:20px 0px 0 20px;margin:10px;background-color:#DCDCDC">
    <label>Red Blood Cells (R.B.Cs):</label>
    <input type="text" placeholder="Enter Red Blood Cells" style="border:2px solid black; width:330px;border-radius:10px;margin-left:17px;"/>
    <label >white Blood Cells (W.B.Cs):</label>
    <input type="text" placeholder="Enter white Blood Cells" style="border:2px solid black; width:330px;border-radius:10px;"/>
    <br />
    <label>Platelets (PLT):</label>
    <input type="text" placeholder="Enter Platelets" style="border:2px solid black; width:330px;border-radius:10px;margin-left:85px;"/>
    <label>Haemoglobin :</label>
    <input type="text" placeholder="Enter Haemoglobin" style="border:2px solid black; width:330px;border-radius:10px;margin-left:80px;"/>
    <label>hematocrit :</label>
    <input type="text" placeholder="Enter hematocrit" style="border:2px solid black; width:330px;border-radius:10px;margin-left:95px;"/>
    <label>Glucose  :</label>
    <input type="text" placeholder="Enter Glucose" style="border:2px solid black; width:330px;border-radius:10px;margin-left:115px;"/>
    <button  type="submit" id="prim" style="padding:10px; position:relative;border-radius:10px;" class="btn-primary">Send values
     </button>

     <img src="~/images/vires2.png" class="vires" />
</div>
      
</div>

<div class="offcanvas offcanvas-end" id="demo1">
  <div class="offcanvas-header" id="header-padding">
    <h1 class="offcanvas-title header-ex" >
    Please upload a picture of the analysis
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
    <hr />

  <div style="border:2px solid black;border-radius:10px;padding:10px;margin:10px;background-color:#DCDCDC">
    <label>Please Upload a Picture:</label>
    <input type="file" style="border:2px solid black; width:360px;border-radius:10px;margin-left:17px;background-color:white;"/>

    <button  type="submit" id="prim" style="padding:10px; position:relative;border-radius:10px;" class="btn-primary">Send values
     </button>
  </div>
</div>


<div class="container-fluid mt-3 container1">
  <h3 >Hello Ahmed</h3>
  <p>We are happy to have you with us, and we wish you a speedy recovery.</p>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Enter the data 
  </button>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo1">
    Upload an analysis image
  </button>
</div>

</body>

