@using Microsoft.AspNetCore.Identity
@model CBT.Models.Eximination
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "New Examination";
 
}

    <body>

<div class="offcanvas offcanvas-start"  id="demo">
  <div class="offcanvas-header" id="header-padding">
    <h1 class="offcanvas-title header-ex" >
    Please enter the analysis percentage
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <hr />
 @* <div style="border:2px solid black;border-radius:10px;padding:20px 0px 0 20px;margin:10px;background-color:#dcdcdc">
    <label>red blood cells (r.b.cs):</label>
    <input type="text" placeholder="enter red blood cells" style="border:2px solid black; width:330px;border-radius:10px;margin-left:17px;"/>
    <label >white blood cells (w.b.cs):</label>
    <input type="text" placeholder="enter white blood cells" style="border:2px solid black; width:330px;border-radius:10px;"/>
    <br />
    <label>platelets (plt):</label>
    <input type="text" placeholder="enter platelets" style="border:2px solid black; width:330px;border-radius:10px;margin-left:85px;"/>
    <label>haemoglobin :</label>
    <input type="text" placeholder="enter haemoglobin" style="border:2px solid black; width:330px;border-radius:10px;margin-left:80px;"/>
    <label>hematocrit :</label>
    <input type="text" placeholder="enter hematocrit" style="border:2px solid black; width:330px;border-radius:10px;margin-left:95px;"/>
    <label>glucose  :</label>
    <input type="text" placeholder="enter glucose" style="border:2px solid black; width:330px;border-radius:10px;margin-left:115px;"/>
    <button  type="submit"  id="prim" style="padding:10px; position:relative;border-radius:10px;" class="btn-primary">send values
     </button>

     <img src="~/images/vires2.png" class="vires" />
</div>
*@
<form asp-action="Examination" asp-controller="Patient" asp-antiforgery="true" method="post" style="width:50%; margin:10px 45px; 0px">
    <div asp-validation-summary="None" class="text-danger"></div>
    <div style="min-width:600px; margin-bottom:10px">
        <span asp-for="RBCS">Red Blood Cells (R.B.Cs): </span>
        <input asp-for="RBCS" class="form-control" placeholder="enter red blood cells" 
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:30px;" required/>
        <span asp-validation-for="RBCS" class="text-danger" style="margin:100px 60px 100px 210px;"></span>
    </div>

     <div style="min-width:600px;margin-bottom:10px">
        <span asp-for="WBES">White Blood Cells (W.B.Cs): </span>
        <input asp-for="WBES" class="form-control" 
        placeholder="enter white blood cells"
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:10px;" />
        <span asp-validation-for="WBES" class="text-danger" style="margin:160px 60px 100px 210px;"></span>
    </div>
     <div style="min-width:600px; margin-bottom:10px">
        <span asp-for="PLT">Platelets (plt):</</span>
        <input asp-for="PLT" class="form-control" 
        placeholder="enter platelets"
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:105px" />
        <span asp-validation-for="PLT" class="text-danger" style="margin:220px 60px 100px 210px;"></span>
    </div>
     <div style="min-width:600px; margin-bottom:10px">
        <span>Haemoglobin:</span>
        <input asp-for="hemoglobin" class="form-control" 
        placeholder="enter hemoglobin"
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:101px" />
        <span asp-validation-for="hemoglobin" class="text-danger" style="margin:280px 60px 100px 210px;"></span>
    </div>
    <div style="min-width:600px; margin-bottom:10px">
        <span >MCHC: </span>
        <input asp-for="MCHC" class="form-control" 
        placeholder="enter MCHC"
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:150px"/>
        <span asp-validation-for="MCHC" class="text-danger" style="margin:340px 60px 100px 210px;"></span>
    </div>
    <div style="min-width:600px;margin-bottom:10px">
        <span>MCH:</span>
        <input asp-for="MCH" class="form-control"  
        placeholder="enter MCH"
        style="display:inline;border:2px solid black; width:300px;border-radius:10px;margin-left:160px"/>
        <span asp-validation-for="MCH" class="text-danger" style="margin:400px 60px 100px 210px;"></span>
    </div>

    <div style="margin-left:160px">
        <input type="hidden" value="@UserManager.GetUserId(User)" name="IdUser"/>
    </div>

            <button style="width:300px;padding:10px;margin-left:100px;"  type="submit" class="btn btn-primary d-block mt-4">Sava</button>

    @*<input type="submit" class="btn btn-success" onclick="" value="Save" />*@
</form>
      
</div>

<div class="offcanvas offcanvas-end" id="demo1">
  <div class="offcanvas-header" id="header-padding">
    <h1 class="offcanvas-title header-ex" >
    Please upload a picture of the analysis
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
    <hr />

  <div style="border:2px solid black;border-radius:10px;padding:5px;margin:7px 20px 0px ;background-color:#DCDCDC">
  <form asp-action="ExaminationByImage" asp-controller="Patient" asp-antiforgery="true" 
  method="post" style="width:50%;margin:15px" enctype = "multipart/form-data">
    <div style="min-width:600px">
    @*<span asp-for="ImgUrl">Upload The Image: </span>
    <input type="file" style="display:inline;border:2px solid black; width:360px;border-radius:10px;margin-left:10px;background-color:white;"/>*@
    <div class="form-group">
                <label asp-for="File" class="control-label">image Exmination</label>
                <input type="file" name ="File"  style="display:inline;border:2px solid black; width:360px;border-radius:10px;margin-left:20px" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
    </div> 
    <div style="margin-left:160px">
        <input type="hidden" value="@UserManager.GetUserId(User)" name="IdUser"/>
    </div>
    <button  type="submit" id="prim" style="width:300px;padding:10px;margin-left:100px; position:relative;border-radius:10px;" class="btn-primary">Send values</button>
  </form>
  </div>
</div>



<div class="container-fluid mt-3 container1">
  <h3 >Hello Ahmed</h3>
  <p>We are happy to have you with us, and we wish you a speedy recovery.</p>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Enter the data 
  </button>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo1">
    Upload an analysis image
  </button>
</div>

</body>

