@model Eximination
//use foreach to show all data
@if(Model.Result.ToLower().Equals("cancer"))
{
    <h1>Tratement@(Model.MCH)</h1>

<div class="center2">
   
    <table class="table text-light">
      <thead>
        <tr>
           <th scope="col">#</th>
          <th scope="col">TreatmentName</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>D</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
       
</div>
 

}
else
{
    <h1>Advices</h1>
}

