html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
    background-size: cover;
    margin-bottom: 50px;
    background-image: url(../images/3.jpg);
}

.center{
    position:relative;
    display:grid;
    justify-content:center;
    border:1px solid black;
    width:400px;
    margin:auto;
    background-color:rgb(0, 0, 0, 0.85);
    padding: 20px;
    margin-top:0;
    border-radius:25px;
    top:-30px;
    height:auto;
}
.centerRegister {
    position: relative;
    display: grid;
    justify-content: left;
    border: 1px solid black;
    width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 25px;
    top: -30px;
    height: auto;
    padding-left:30px;
}
.log {
    display: none;
}
input {
    margin-bottom: 10px ;
    width:100%;
    padding:10px;
    border: 0;
    
}
#style{
    width:350px;
    right:0;
    border-radius:10px;
}
h1 {
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Redressed', cursive;
}
#styleRegister {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left:10px;
}

