@{
    ViewData["Title"] = "Home Page";
}
<body style=" background-image: url(../images/home.png);background-size:cover;">
    <div class="landing">      
            <div class="text">
                <div class="content">
                    <h2>Hellow World <br/>
                    We Are Al-Salam We Creat Hope .</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit consectetur autem error alias. Modi perspiciatis fugit at, dignissimos quaerat expedita et amet asperiores cupiditate nostrum odit consequuntur eum nulla. Libero.</p>
                </div>
            </div>
    </div> 
</body>

