@{
    ViewData["Title"] = "Home Page";
}
<body style=" background-image: url(../images/home.png);background-size:cover;">
    <div class="landing">      
            <div class="text main" >
                <div class="content log">
                    <h2>Hello World <br/>
                    We Are Al-Salam We Creat Hope .</h2>
                    <p>We appreciate that the human soul is the most precious thing God created on earth, so we strive to preserve it, and that is why we decided to create this simple site for the continuous examination of our bodies from harmful viruses such as cancer and others.</p>
                </div>
            </div>
    </div> 
</body>

